RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule ^.*$ - [NC,L]

RewriteCond %{DOCUMENT_ROOT}/maintenance.php -f
RewriteRule ^.*$ maintenance.php  [NC,L]

RewriteRule ^.*$ index.php [NC,L]
