<?php
/**
 * Local Application-configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in gridguyz-cms. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
 /* // only enable, when in multisite mode
    'modules' => array(
        'Grid\\MultisitePlatform',
    ),
    'service_manager' => array(
        'invokables' => array(
            'SiteConfiguration' => 'Zork\Db\SiteConfiguration\Multisite',
        ),
    ), */
);
