<?php

return array(
    'driver'            => 'Pdo',
    'pdodriver'         => 'pgsql',
    'host'              => 'localhost',
    'port'              => 5432,
    'username'          => 'username',
    'password'          => 'password',
    'dbname'            => 'dbname',
    'schema'            => array( 'site', '_common' ),
);
